.navBar {
  display: flex;
  background-color: #EDEDED;
  
}

.cartIcon {
  height: 50px;
  width: 50px;
}

.p-ItemListContainer {
  
  color: red;
}

.ItemListContainer {
  background-image: url(./multimedia/images/fabrica.png); 
  background-color: #EDEDED;
  width: 100%;
  height: 600px;
  background-size: cover;
}

.ItemCount {
  display: flex;

}
.botonItemCount {
  width: 1.5rem;
  height: 1.5rem;

  

}

.textCount {
  width: 3rem;
  background-color: white;
  text-align: center;

}

.opacity {
  opacity: .5;
}