.app {
  background-color: #EDEDED
}

.navBar {
  display: flex;
  background-color: #EDEDED;
  
}

.cartIcon {
  height: 50px;
  width: 50px;
}

.p-ItemListContainer {
  
  color: red;
}

.ItemListContainer {
   
  background-color: #EDEDEE;
  width: 100%;
  
  background-size: cover;
}

.ItemCount {
  display: flex;

}
.botonItemCount {
  width: 1.5rem;
  height: 1.5rem;

  

}

.textCount {
  width: 3rem;
  background-color: white;
  text-align: center;

}

.opacity {
  opacity: .5;
}

.card {
  background-color: #DDDDDD;
  margin: 10px
}

.btn-primary {
  color: white;
  background-color: #804171;
  border: none;
}
.btn-primary:hover {
  background-color: #3e1434;
}